---
import ImagenCustom from "../../common/ImagenCustom/ImagenCustom.astro";
import ListaTecnologia from "./ListaTecnologia.astro";
const { proyecto } = Astro.props;
---

<a
  href={`/proyectos/${proyecto.slug}`}
  class="flex flex-col w-[350px] 2xl:w-[480px] h-[540px] bg-[#0e0e34] shadow-sm rounded-xl shadow-white/25"
>
  <ImagenCustom
    ImagenPortada={proyecto.imagenPortada}
    nombre={proyecto.titulo} 
    
  />

  <div class="px-5 py-6">
    <div class="flex flex-col gap-2">
      <h1 class="text-white text-xl font-bold">
        {proyecto.titulo}
      </h1>
      <p class="text-[#edecec] text-base py-1">
        {proyecto.descripcionCorta}
      </p>

      <ul class="flex items-center gap-3 flex-wrap">
        {
          proyecto.tecnologias.map((tecnologia: string) => (
            <ListaTecnologia tecnologia={tecnologia} />
          ))
        }
      </ul>
    </div>
  </div>
</a>
