---
const { certificado } = Astro.props;
---

<a
  class="flex gap-x-4 justify-center text-start rounded-lg px-5 py-6 bg-[#0d0d33] border-1 border-gray-500 shadow-lg overflow-hidden"
  href={certificado.url}
  target="_blank"
>
  <img
    src={certificado.logo}
    alt={certificado.company}
    class="w-10 h-full rounded-md"
    loading="lazy"
  />

  <div>
    <h3 class="font-bold">{certificado.company}</h3>
    <p class="text-sm text-gray-400 w-60 lg:w-96 truncate">
      {certificado.description}
    </p>
    <p
      class="text-yellow-400/85 inline-block px-4 py-1 mt-2 rounded-lg bg-yellow-400/10 text-xs font-black tracking-widest"
    >
      {certificado.year}
    </p>
  </div>
</a>
